/* Basic Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #0057B8;
    color: white;
    padding: 10px 20px;
    text-align: center;
}


/* The side navigation menu */

.sidebar {
    height: 100vh;
    width: 250px;
    /* Wider sidebar for aesthetics */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2C3E50;
    /* Darker shade for modern look */
    overflow-x: hidden;
    overflow-y: auto;
    /* Just in case */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    /* Soft shadow for depth */
}

.sidebar ul {
    list-style-type: none;
}

.sidebar a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #18BC9C;
    /* Bright color for active/hover */
    color: #FFF;
}


/* Adjusting content margin */

.dashboard-content {
    margin-left: 250px;
    /* Adjusted to match sidebar width */
    padding: 20px;
}

footer {
    background-color: #D52B1E;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /* Removes position: absolute and lets flexbox handle positioning */
    /* put the footer at the bottom of the page */
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: none;
    }
    .dashboard-content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
    }
}